*{
    margin: 0%;
    padding: 0%;
    background-color: 	#dfe3ee;
}

body{
    position:absolute;
    width:100%;
    display:flex;
    top:0;
    left:0;
}

.header{
    display:flex;
    position:relative;
    width:100%;
    flex-direction:row;
    min-height:100vh;
    align-items: center;
}

.fb-header{
    position:relative;
    top:0;
    left:0;
    width:100%;
    justify-content: center;
    align-items: center;
    padding:20px;
    text-align: justify;
}

.textbox{
    position: relative;
    top:0;
    left:0;
    width:100%;
    justify-content: center;
}
h1{
    font-size: 55px;
    color: #1877f2;
    font-family: sans-serif;  
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;    
}

.container{
    position:relative;
    top:0;
    left:0;
    width:100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container .input{
    position:relative;
    top:0;
    left:0;
    margin:70px;
    width:70%;
    border:1px solid #000000;
    background-color: white;
    border-radius:5px;
    text-align: center;
    padding:20px;
    box-shadow: 1px 2px 2px 2px black;
}

.input-div{
    position:relative;
    top:0;
    left:0;
    background:white;
    padding-right:10px;
}

.container .input input{
    position: relative;
    top:0;
    left:-5px;
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    padding:10px;
    font-size:18px;
    border:1px solid black;
    border-radius:5px;
    text-decoration: none;
}

button
{
    width:100%;
    align-items: center;
    margin-top: 15px;
    background-color:#1877f2 ;
    padding: 16px;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}

p{
    position:relative;
    top:0;
    left:0;
    text-align: center;
    background-color: white;
    font-size: 16px;
    color: #1877f2;
    margin-top: 10px; 
    padding:20px; 
}

.anchor{
    position:relative;
    top:0;
    left:0;
    width:100%;
    align-items: center;
    justify-content: center;
}

.forget{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    color: #1877f2;
    background-color: white;
    
}

.btn{
    position:relative;
    top:0;
    left:0;
    padding:20px;
    text-align: center;
    background:white;
}

.create{
    position: relative;
    top:0;
    left:0;
    align-items: center;
    width:auto;
    padding:10px;
    font-size:20px;
    justify-content: center;
    background-color:#1b9c24 ;  
}

.clearfix::before{
    clear: both;
    display: block;
    line-height: 0;
}

.clearfix::after{
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.footer{
    display: flex;
    position: absolute;
    top:700px;
    width:100%;
}

.anchor1{

    position: relative;
    top:0;
    left:0;
    width:100%;
    padding:50px 60px;
    background-color: white;
}

.anchor1 .anchor-1{
    position:absolute;
    background-color: white;
}

.anchor1 .anchor-1 a{

    position:relative;
    color:rgb(119, 113, 113);
    background-color: white;
    text-decoration: none;
}

.anchor1 .anchor-2{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}


@media screen and (max-width:780px) {
    .header{
        display:block;
        width:70%;
        text-align: center;
    }
    .fb-header{
        position:relative;
        top:0;
        left:0;
        width:100%;
        text-align: center;
    }
    .container{
        position:relative;
        width:100%;
        top:0;
        left:0;
    }

}
